<div class="share">
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_sharing_toolbox" tw:via="pauloortins"></div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ site.addthis_profile_id }}" async="async">
    </script>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		var addthis_share = addthis_share || {}
		addthis_share.passthrough = {};
		addthis_share.passthrough.twitter = {};
		addthis_share.passthrough.twitter.via = "pauloortins";
	});
</script>
